.panel {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
}
.d-flex{
    display: flex;
}