@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav a{
  text-decoration : none;
  padding-bottom : 2px;
  margin-right : 50px;
  color : black;
  font-weight : 550;
  position : relative;
  cursor : pointer;
}

.nav a::before{
  position : absolute;
  content : '';
  top: 100%;
  left : 0;
  height : 2px;
  width : 0%;
  background : black;
  transition : all ease 0.4s;
}

.nav a:hover::before{
  width : 100%;
}